.main-class {
    font-style: initial;
    font-size: 20px;
    background-color: rgb(147, 150, 194);
}

li {
    font-size: 18px;
}

img {
    border-radius: 50%;
    width: 220px;
    height: 250px;
    border-style: outset;
}

hr {
    border: 5px green;
    border-style: dotted;
}

a:hover {
    background-color: rgb(193, 235, 27);
}